@media (min-width: 768px) and (max-width: 899px) {
    .custom-modal .ant-modal-content {
        width: 600px;
        height: 400px;
        top: 50%;
        left: 15%;
        transform: translate(0%, -50%);
        overflow-y: hidden !important;
    }
}
@media (min-width: 900px) and (max-width: 1024px) {
    .custom-modal .ant-modal-content {
        width: 650px;
        height: 400px;
        top: 50%;
        left: 25%;
        transform: translate(0%, -50%);
        overflow-y: hidden !important;
    }
}
@media (min-width: 1025px) and (max-width: 1279px) {
    .custom-modal .ant-modal-content {
        width: 700px;
        height: 400px;
        top: 50%;
        left: 50%;
        transform: translate(10%, -50%);
        overflow-y: hidden !important;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {
    .custom-modal .ant-modal-content {
        width: 700px;
        height: 400px;
        top: 50%;
        left: 50%;
        transform: translate(10%, -50%);
        overflow-y: hidden !important;
    }
}
@media (min-width: 1440px) and (max-width: 1680px) {
    .custom-modal .ant-modal-content {
        width: 800px;
        height: 450px;
        top: 50%;
        left: 50%;
        transform: translate(12%, -50%);
        overflow-y: hidden !important;
    }
}
@media (min-width: 1681px) and (max-width: 1919px) {
    .custom-modal .ant-modal-content {
        width: 1000px;
        height: 600px;
        top: 50%;
        left: 50%;
        transform: translate(20%, -50%);
        overflow-y: hidden !important;
    }
}
@media (min-width: 1920px) {
    .custom-modal .ant-modal-content {
        width: 1000px;
        height: 600px;
        top: 50%;
        left: 50%;
        transform: translate(20%, -50%);
        overflow-y: hidden !important;
    }
}
.ant-modal-body {
    overflow-y: hidden !important;
}
// Style Responesive Modal
