@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label {
    transform: translate(-0.25rem, -1rem) scale(0.8);
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    transform: translate(-0.25rem, -1rem) scale(0.8);
}
